* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #333;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentTime {
    font-size: 6rem;
    text-align: center;
    font-weight: 1000;
}

#currentTime p {
    padding: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#canvas {
    padding-top: 80px;
    display: flex;
}

.widget {
    background-color: #1E2029;
    font-weight: 800;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.widget .inner {
    background-color: powderblue;
    font-weight: 800;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
